body{
    color: black;
    background-color: white;
    background-image: url(https://images.alphacoders.com/898/thumb-1920-898803.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}

h1{
    color: rgb(182, 31, 182);
}

b{
    color: red;
}

.flotte{
    float: right;
}

