.button12 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(1, 1, 12);
    box-shadow: 0 5px 0 rgb(17, 6, 63);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}   
.button1 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: blue;
    box-shadow: 0 5px 0 #105;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button2 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: #6D071A;
    box-shadow: 0 5px 0 #4E1609;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button3 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(7, 7, 97);
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button4 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(189, 21, 189);
    box-shadow: 0 5px 0 rgb(97, 2, 97);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button5 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: gold;
    box-shadow: 0 5px 0 rgb(138, 118, 3);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button6 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(4, 168, 4);
    box-shadow: 0 5px 0 rgb(2, 102, 2);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button7 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: red;
    box-shadow: 0 5px 0 blue;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button8 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(204, 103, 174);
    box-shadow: 0 5px 0 rgb(163, 29, 92);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button9 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: grey;
    box-shadow: 0 5px 0 rgb(65, 63, 63);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button10 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(255, 145, 0);
    box-shadow: 0 5px 0 rgb(151, 102, 11);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button11 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(104, 177, 104);
    box-shadow: 0 5px 0 rgb(53, 156, 53);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

body{
    color: black;
    background-color: white;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/42480292-4fb7-4439-86f4-36edc5ed2a6b/dc836ot-0ac0519e-c005-4b3f-b343-0d165eed5df7.png/v1/fill/w_1024,h_576,q_80,strp/jojo_s_minimalistic_adventure__battle_tendency__2_by_jonasbrunoz_dc836ot-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NzYiLCJwYXRoIjoiXC9mXC80MjQ4MDI5Mi00ZmI3LTQ0MzktODZmNC0zNmVkYzVlZDJhNmJcL2RjODM2b3QtMGFjMDUxOWUtYzAwNS00YjNmLWIzNDMtMGQxNjVlZWQ1ZGY3LnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.FAnIhFh2Vce3CnKAxcgLivUFSu6os_gy3lNwG28agMQ);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1{
    color: #6D071A;
}

b{
    color: red;
}

.flotte{
    float: right;
}