.button12 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(1, 1, 12);
    box-shadow: 0 5px 0 rgb(17, 6, 63);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}   
.button1 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: blue;
    box-shadow: 0 5px 0 #105;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button2 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: #6D071A;
    box-shadow: 0 5px 0 #4E1609;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button3 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(7, 7, 97);
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button4 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(189, 21, 189);
    box-shadow: 0 5px 0 rgb(97, 2, 97);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button5 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: gold;
    box-shadow: 0 5px 0 rgb(138, 118, 3);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button6 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(4, 168, 4);
    box-shadow: 0 5px 0 rgb(2, 102, 2);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button7 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: red;
    box-shadow: 0 5px 0 blue;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button8 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(204, 103, 174);
    box-shadow: 0 5px 0 rgb(163, 29, 92);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button9 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: grey;
    box-shadow: 0 5px 0 rgb(65, 63, 63);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button10 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(255, 145, 0);
    box-shadow: 0 5px 0 rgb(151, 102, 11);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.button11 {
    display: block;
    font-size: larger;
    width: 11%;
    background-color: rgb(104, 177, 104);
    box-shadow: 0 5px 0 rgb(53, 156, 53);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

body{
    color: black;
    background-color: white;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/42480292-4fb7-4439-86f4-36edc5ed2a6b/dc6b6pt-44930e90-504a-445b-a907-99dc7a2edf2a.png/v1/fill/w_1192,h_670,q_70,strp/jojo_s_minimalistic_adventure__phantom_blood__2_by_jonasbrunoz_dc6b6pt-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDAiLCJwYXRoIjoiXC9mXC80MjQ4MDI5Mi00ZmI3LTQ0MzktODZmNC0zNmVkYzVlZDJhNmJcL2RjNmI2cHQtNDQ5MzBlOTAtNTA0YS00NDViLWE5MDctOTlkYzdhMmVkZjJhLnBuZyIsIndpZHRoIjoiPD0xNjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Mup2r2ddixc6JxK9E2g1JrRSfKEm_hH0ecO30Q3Q1NU);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1{
    color: blue;
}

b{
    color: red;
}

.flotte{
    float: right;
}